nav{
    position: fixed;
    top: 0;
    width: 100%;

    background-color: transparent;
    background: transparent;
    border-color: transparent;


a {
    display: block;
    color:black;
    text-align: right;
    font-family: 'Work Sans', sans-serif;
    
    padding: 1% 16px;
    text-decoration: none;

    &:hover:last-child{
        background-color: #111;
        
    }

}

img{
    float: left;
    width: 30%;
    padding: 0px 0px;
}  

}