<nav class="navbar">
                        
  <a routerLink=""><img src="../assets/LogoT_W.png"></a>
  <a routerLink="auth/signin" *ngIf="!isAuth">Se connecter</a>
  <a (click)="onSignOut()" style="cursor:pointer" *ngIf="isAuth">Déconnexion</a>

</nav>
