<h2>Créer un compte</h2>
<form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
    <div>
        <label for="email">Adresse mail</label>
        <input type="text" formControlName="email">
    </div>
    <div>
        <label for="password">Mot de passe</label>
        <input type="password" formControlName="password">
        <button type="submit" [disabled]="signupForm.invalid">Créer mon compte</button>
    </div>
</form>
<p>{{ errorMessage }}</p>
