<h2>Se Connecter</h2>
  <form [formGroup]="signinForm" (ngSubmit)="onSubmit()">
    <div>
      <label for="email">Adresse mail</label>
      <input type="text"formControlName="email">
    </div>
    <div>
        <label for="password">Mot de passe</label>
        <input type="password" formControlName="password">
      <button type="submit" [disabled]="signinForm.invalid">Créer mon compte</button>
    </div>  
    </form>
    <a href="auth/signup">Créer un compte</a>
<p>{{ errorMessage }}</p>