<div class="main">
  <header>
      <div class="banner">
          <div class="right transparent-pannel">
              <h1>Lorem Ipsum sed labore</h1>
              <p><b>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed gravida eros vitae libero lacini</b></p>
              <div class="icons">
                  <img src="../assets/calendar.svg" alt="calendrier" class="icon">
                  <img src="../assets/case.svg" alt="malette" class="icon">
                  <img src="../assets/settings.svg" alt="roulette options" class="icon">
              </div>                
          </div>
      </div>
  </header>
  <app-header></app-header>
  <router-outlet></router-outlet>

  <section>
      <div class="main-content">
          <div class="container-a">
              <div class="left">
              <img src="../assets/olga-guryanova-167262-unsplash-e1524468054835.jpg" alt="mêlée de rugby">
          </div>
          <div class="right">
              <h1>Nos Valeurs</h1>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed gravida eros vitae libero lacinia vulputate. Vivamus
                  et sem sit amet nibh rhoncus lacinia. Vestibulum dictum magna eget ipsum eleifend, et blandit orci pellentesque.
              </p>
          </div>
          <div class="values-container">
                <div class="values">
                    <p class="value">humain</p>
                    <p class="value">|</p>
                    <p class="value">convivial</p>
                    <p class="value">|</p>
                    <p class="value">respect</p>
                </div>
        </div>
      </div>
      <div class="container-b">
          <div class="left">
              <h1>Nos Chiffres</h1>
              <p><b>{{cabinetsNb}}</b> cabinets</p>
              <p><b>{{consultantsNb}}</b> consultants</p>
              <p><b>{{profitsNb}}</b> Me de chiffre d'affaires</p>
          </div>
          <div class="right">
              <img src="../assets/paon.jpg" alt="tableau d'affichage statistique, ici c'est un paon">
          </div>
      </div>
      <footer>
          <h1>Nos offres</h1>
          <div class="container-c">
              <div class="item">          
                  <img src="../assets/calendar.svg" alt="calendar">
                  <h3>Lorem Ipsum Dolor</h3>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor 
                      incididunt ut labore et dolore magna aliqua.
                  </p>
              </div>
              <div class="item">
                  <img src="../assets/case.svg" alt="calendar">                        
                  <h3>Conseil</h3>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore
                      magna aliqua. Ut enim ad minim veniam, quis nostrud
                  </p>
              </div>
              <div class="item">
                  <img src="../assets/settings.svg" alt="calendar">
                  <h3>Service</h3>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore
                      magna aliqua. Ut enim ad minim veniam
                  </p>
              </div>
          </div>
      </footer>
      </div>
  </section>
  <footer>
      <div class="footer-content">
          <div class="left">
              <img src="../assets/mvp-74574.jpg" alt="bâtiment de l'entreprise">
          </div>
          <div class="right">
              <h2>Teletech' 3000</h2>
              <p>2 rue de la poupée qui tousse
                  <br>
                  31000 Toulouse
                  <br>
                  +33 4 34 36 26 33
              </p>                    
              <div class="icons">
                      <img src="../assets/in.svg" alt="icône Linkedin" class="icon">
                      <img src="../assets/twitter.svg" alt="icône twitter" class="icon">
                      <img src="../assets/f.svg" alt="icône Facebook" class="icon">
                      <img src="../assets/instagram.svg" alt="icône Instagram" class="icon">
                  </div>  
          </div>
      </div>
  </footer>
</div>
