@import url('https://fonts.googleapis.com/css?family=Work+Sans:300,400,500,600');

.main {
    margin: 0;
    padding: 0;
    font-family: 'Work Sans', sans-serif;

    h1, h2{
        text-align: center;
        font-weight: lighter;
        font-size: 4.4rem;
        color: #3D3D3D;
    }
    h3{
        text-align: center;
        color: #3D3D3D;
    }

    p{
        color: #3D3D3D;
    }

    //séparés si besoin d'en modifier un particulier
    .left {
        width: 50%;
    }
    .right {
        width: 50%;
    }

    header{

        .banner{
            height: 900px;
            background-image: url("../../assets/StockSnap_2XCM40KGL8.jpg");
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            display: flex;
            flex-direction: row-reverse;

            .transparent-pannel{
                flex: 0.5;
                background-color: rgba($color: #ffffff, $alpha: .5);

                h1{
                    padding: 180px 120px 20px 120px;
                }

                p{
                    padding: 0 100px 30px;
                    text-align: center;
                }

                .icons{
                    padding: 0 30%;
                    text-align: center;
                    display: flex;
                    flex-direction: row;
                    justify-content: space-around;

                    .icon{
                        flex: 1;
                    }
                }
            }
        }
    }

    .main-content {
        margin: 50px;

        .container-a{
            display: flex;
            margin-bottom: 30px;
            
            img{
                width: 100%;
            }

            h1{
                margin-top: 0;
            }

            p{
                padding: 0 50px 0;
            }

            
            .values-container{
                padding: 0 50px;

                p{
                    padding: 0;
                }

                .values{
                    display: flex;
                    flex-direction: row;
                    justify-content: space-around;
                    padding: 0 120px 0 120px;
    
                    .value{
                        flex-grow: 1;                        
                        font-weight: 600;
                        text-transform: uppercase;
                    }                    
                }
            }      
            
        }
        .container-b{
            display: flex;
            margin-bottom: 30px;

            p{
                text-align: center;
            }
            
            img{
                width: 100%;
            }
        }

        footer{
            margin:-50px !important;
            background-color: transparent;

            .container-c{
                display: flex;
                justify-content: space-between;

                p{
                    text-align: center;
                }

                .item {
                    padding: 0 40px;
                    text-align: center;
                    flex: 1;

                    //tests de fonctionnement des sélecteurs
                    &:hover:first-child{
                        background-color: rgba($color: #000000, $alpha: .1);
                        border-radius: 10px;
                    }
                    &:hover:last-child{
                        background-color: rgba($color: #000000, $alpha: .5);
                        border-radius: 10px;
                    }
                    &:hover:nth-child(2){
                        background-color: rgba($color: #000000, $alpha: .3);
                        border-radius: 10px;
                    }
                }
            }

        }
    }

    footer {
        background-color: rgba($color: #000000, $alpha: .1);
        padding: 50px;

        .footer-content {
            display: flex;
            
            img{
                width: 100%;
            }

            h2{
                font-weight: 500;
                font-size: 3.6rem;
            }

            p{
                padding-top: 20px;
                text-align: center;
                font-size: 1.2rem;
            }

            .icons{
                padding: 60px 15% 0;
                text-align: center;
                display: flex;
                flex-direction: row;
                justify-content: space-around;

                .icon{
                    flex: 1;
                }
            }
        }
    }    
}
